 /* Header */
 .main-header .logo {
    font-size: 55px !important;
    font-family: "Baskerville Old Face" !important;
    color: #505f75 !important;
    background-color: #76bfac !important;
    height: 80px !important;
    padding-top: 15px !important;
}

.main-header .navbar {
    background-color: #76bfac;
    min-height: 80px;
}

.main-header .sidebar-toggle {
    font-size: 30px;
}

.navbar-custom-menu>.navbar-nav>li {
    position: relative;
    display: inline-flex;
}

.greetings{
    font-family: 'Bahnschrift';
    color: white;
    font-size: large;
    padding-top: 25px;
}
.profile_img{
  padding-left: 20px;
  padding-top: 5px;
  height: 80px;
}

/* Body */
.content-wrapper, .right-side {
    background-color: #ecf3f1;
}

h2{
  font-family: "Baskerville Old Face" !important;
  color: #505f75 !important;
  font-size: 50px !important;
}

h3{
  margin-top: 0px;
  font-family: 'Bahnschrift' !important;
  color: #505f75 !important;
}

h4{
  font-family: 'Bahnschrift' !important;
  color: #505f75 !important;
}

.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    color: white !important;
}
.btn-danger {
    color: white !important;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden !important;
}

/* Side bar */
.left-side, .main-sidebar {
    background-color: #505f75;
    top: 40px !important;
}

.sidebar-menu li>a {
    position: relative;
    background-color: #76bfac;
    color: white;
    border-top-width: 10px;
    margin-top: 10px;
    border-bottom-width: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Bahnschrift';
    font-size: 17px;
}

.sidebar-menu li.active>a {
    background-color: #68a797;
}

/* Inventory Control */
.mainInventoryControl{
  background-color: white;
  border-color: #767171;
  border: 1px solid;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: 300px;
    max-width: 100%;
    transform: translateY(-20%);
    margin-bottom: 0;
}

/* Modal */
.modal-header {
    background-color: #505f75;
}

.modal-title {
    font-size: 30px;
    color: white;
    font-family: "Baskerville Old Face"
}

.modal-body {
    background-color: #505f75;
    font-family: 'Bahnschrift';
    color: white;
}

.listItems{
  display: inline-flex !important;
  background-color: white;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.checkbox, .radio {
    color: #68a797;
    font-family: "Baskerville Old Face"
    font-size: 20px;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    margin-bottom: 10px;
}

/* Calendar */

.toastui-calendar-day-view .toastui-calendar-panel:not(.toastui-calendar-time), .toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
  overflow-y: unset !important;
}

.toastui-calendar-panel.toastui-calendar-time {
    overflow-y: auto;
    height: 45vh !important;
}
.MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}

/* Simulator */
.simulador{
  background-color: #76bfac;
  color: #505f75;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
.simuladorOutput{
  font-family: 'Bahnschrift';
  color: white;
  font-size: 20px;
  margin-top: 15px;
}